/* snakeGame.css file */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
  }
  
  .score {
    color: rgb(6, 6, 6);
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 3.5%;
    font-family: Copperplate;
  }
  
  .board {
    width: 500px;
    height: 500px;
    border: 5px solid white;
    display: flex;
    flex-wrap: wrap;
    background-color: #bebaba;
    margin-bottom: 2.5%;
  }
  
  .cell {
    width: 5%;
    height: 5%;
  }
  
  .food {
    background-color: rgba(255, 0, 0, 0.46);
    border-radius: 50%;
  }
  
  .snake {
    background-color: green;
    border-radius: 5%;
  }
  
  .snakeHead {
    background-color: rgb(74, 119, 74);
    border-radius: 30%;
  }
  