/* snakeGame.css file */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
  }
  
  .score {
    color: rgb(6, 6, 6);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .board {
    width: 500px;
    height: 500px;
    border: 5px solid white;
    display: flex;
    flex-wrap: wrap;
    background-color: #bebaba;
  }
  
  .cell {
    width: 5%;
    height: 5%;
  }
  
  .food {
    background-color: red;
  }
  
  .snake {
    background-color: green;
  }
  
  .snakeHead {
    background-color: lime;
  }
  