
body{
  background: 
  linear-gradient(rgba(197, 173, 136, 0.8), rgba(197, 173, 136, 0.8)),
  url("../../public/Background.jpg") no-repeat center center fixed;
background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hrefLogos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  margin-left: 5%;
}

.name{
  text-align: center;
}

.LinkedIn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  transition: transform 0.3s;
}

.LinkedIn:hover {
  transform: scale(1.1);
}

.github {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  transition: transform 0.3s;
}

.github:hover {
  transform: scale(1.1);
}

svg{
  display: flex;
  align-items: flex-start;
}

.App-link {
  color: black;
}

.introduction{
  border: 2px solid #524617;
  margin-top: 2%;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 10px;
}

.introductoryParagraph {
  margin-left: 5%;
  margin-right: 5%;
}

.btn-download{
  border: 2px solid #282c34;
  border-radius: 10px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  padding: .3%;
  color: white;
  background-color: black; 
  margin-bottom: 2%;
}

.btn-download:hover {
  background-color: transparent; 
 }

nav {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center; 
}

nav a {
  text-decoration: none;
  color: black;
  padding: .3%;
  border: 2px solid black; 
  border-radius: 10px; 
  margin: 0 10px; 
  margin-bottom: 2%; 
}

nav a:hover {
  background-color: #99837d; 
 }

 .button {
    padding-top: 5%;
    border: 2px solid #282c34;
    border-radius: 10px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    padding: .3%;
    margin-bottom: 5%;
    color: black; 
    background-color: transparent; 
 }

 /* experience */
 .bloomtech{
  border: 2px solid #524617;
  margin-top: 2%;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 10px;
  padding-bottom: 3%;
  margin-bottom: 5%;
 }

 .mates{
  border: 2px solid #524617;
  margin-top: 2%;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 10px;
  padding-bottom: 3%;
  margin-bottom: 5%;
 }

 /* about-me */

 .birthpalce{
  border: 2px solid #524617;
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  padding-bottom: 3%;
 }

 .intrest{
  border: 2px solid #524617;
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  padding-bottom: 3%;
  margin-bottom: 5%;
 }

 /* snake game */

 .game{
  border: 2px solid #524617;
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
 }

 .gameDescription{
  margin-top: 2.5%;
 }

 .playGame{
    padding-top: 5%;
    border: 1px solid #282c34;
    border-radius: 10px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: .5%;
    margin-bottom: 5%;
    background-color: transparent; 
 }

 .playGame:hover {
  background-color: #99837d; 
 }

 /* education */
 .edu-bloomtech{
  border: 2px solid #524617;
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  padding-bottom: 3%;
  margin-bottom: 5%;
 }

 .bachlors{
  border: 2px solid #524617;
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  padding-bottom: 3%;
  margin-bottom: 5%;
 }

 /* Projects */

 .button:hover {
  background-color: #99837d; 
 }

 .stock-chart{
  border: 2px solid #524617;
  margin-top: 8%;
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  padding-bottom: 3%;
  margin-bottom: 5%;
 }

 .AIproject{
  border: 2px solid #524617;
  margin-top: 8%;
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  padding-bottom: 3%;
  margin-bottom: 5%;
 }

 .projectInfo{
  display: flex;
  flex-direction: row;
 }

 .paragraph{
  margin-right: 15%;
 }

 .description{
  margin-right: 10%;
  margin-top: 2%;
 }

 span{
  margin: .5%;
  border: 1.5px solid rgb(4, 4, 4);
  border-radius: 10px;
  padding: .3%;
  background-color: #99837d;
 }

 .span{
  margin: 1%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 }

 .projectLink{
  margin-top: 3%;
  margin-bottom: 0%;
 }

 p{
  margin-left: 5%;
  margin-right: 5%;
 }

 .img {
  transition: transform 0.3s;
  margin: 2%;
  border-radius: 10px;
}

.img:hover {
  transform: scale(1.5);
}

 /* contacts */

 .form{
  margin-top: 3%;
  margin-bottom: 5%;
  display:inline-block;

 }
 
 input{
  padding: .3%;
  margin: 1%;
 }

 .submit{
  padding: 1%;
  margin-top: 1%;
  border: 2px solid black; 
  border-radius: 10px;
  background-color: transparent; 
 }

 .submit:hover {
  background-color: #99837d; 
 }

 .note{
  color: red;
 }

 @media screen and (max-width: 700px) {
  .nav {
    flex-direction: column; 
    align-items: center; 
  }
  .nav a:not(:last-child) {
    margin-bottom: 10px; 
  }
  .projectInfo{
    display: flex;
    flex-direction: column;
   }
   .stock-chart{
    display: flex;
    flex-direction: column;
   }
  
   .AIproject{
    display: flex;
    flex-direction: column;
   }
   .span{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   }
   .img {
    max-width: 100%;
    max-height: 200px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
