/* snakeGame.css file */
.game-tile{
    width: calc(50vw / 19); 
    height: calc(50vh / 19); 
}

.game-container {
    width: 50vw; 
    height: 50vh;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(19, 1fr); 
    grid-template-rows: repeat(19, 1fr); 
    overflow: hidden;
    place-items: center;
  }

.barrier {
    background-color: #0e12c2; 
}